apiVersion: example.com/v1alpha1
kind: Goweb
metadata:
  name: goweb-sample
spec:
  # Add fields here
  gowebfront:
    image: docker.io/ishasangrolkar/demo-app:latest
    imagePullSecrets: []
    replicaCount: 1
    service:
      port: 3000
      targetPort: 3000
      type: NodePort
