---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: gowebs.example.com
spec:
  group: example.com
  names:
    kind: Goweb
    listKind: GowebList
    plural: gowebs
    singular: goweb
  scope: Namespaced
  subresources:
      status: {}
  validation:
    openAPIV3Schema:
      type: object
      x-kubernetes-preserve-unknown-fields: true
  versions:
  - name: v1alpha1
    served: true
    storage: true
    